<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>ssk-snapshot</id>
            <username>admin</username>
            <password>Subramanyam@2175</password>
        </server>
        <server>
            <id>ssk-release</id>
            <username>admin</username>
            <password>Subramanyam@2175</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>jfrog-artifactory</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>ssk-snapshot</id>
                    <url>http://18.61.228.100:8082/artifactory/ssk-snapshot/</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                </repository>
                <repository>
                    <id>ssk-release</id>
                    <url>http://18.61.228.100:8082/artifactory/ssk-release/</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </repository>
            </repositories>
        </profile>
    </profiles>

</settings>
